@charset "UTF-8";

* {
  box-sizing: border-box;
}

body {
  margin: 10px;
  background-color: rgb(148, 148, 148);
  max-width: 100%;
  padding: 10px;
}

header {
  height: 120px;
  width: 1300px;
  background: linear-gradient(to right, #ffdcbf, #ffb45e);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-menu {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 20px;
}

.left-menu ul li {
  font-size: 1rem;
  padding: 4px;
}

.left-menu ul li a {
  color: #000;
}



.title {
  width: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title p {
  font-size: 3.5rem;
}




.right-menu {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right-menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding-left: 150px;
}

.right-menu ul li {
  font-size: 2rem;
  padding: 4px;
}

.right-menu ul li a {
  color: #000;
}
