@charset "UTF-8";

* {
  box-sizing: border-box;
}

body {
  margin: 10px;
  background-color: rgb(148, 148, 148);
  max-width: 100%;
  padding: 10px;
}

header {
  height: 120px;
  width: 100%;
  border: 1px solid rgb(82, 54, 4);
  border-radius: 5px;
  background: linear-gradient(to right, #ffd9a0, #e6e6e6);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.25),
        inset 1px 1px 2px rgba(0,0,0,0.75);
}


.left-menu {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 20px;
}

.left-menu ul li {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 4px;
}

.left-menu ul li a {
  text-decoration: none;
  color: #000;
}

.left-menu ul li a:hover {
  color: #723d00;
  text-decoration: underline;
}



.title {
  width: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title p {
  font-size: 3.5rem;
  color:rgb(0, 0, 0)
}




.right-menu {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right-menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding-left: 120px;
}

.right-menu ul li {
  font-size: 2rem;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-menu ul li a {
  color: #000;
}

.right-menu ul li a:hover {
  color: var(--clr);
  transition: 0.2s;
}
